---
type Props = {
  name: string;
  href: string;
  repo: string;
};

const { name, href, repo } = Astro.props;
---

<section>
  <h2><a href={href} target="_blank">{name}</a></h2>

  <slot />

  <a href={repo} target="_blank" class="group inline-flex items-center gap-2">
    Source Code
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-5 w-5 transition-transform group-hover:translate-x-1.5"
    >
      <path d="M18 8L22 12L18 16"></path><path d="M2 12H22"></path>
    </svg>
  </a>
</section>
