---

---

<div
  class="max-w-full prose prose-neutral dark:prose-invert prose-a:decoration-2 hover:prose-a:decoration-[3px] prose-a:decoration-neutral-400 hover:prose-a:decoration-neutral-500 prose-a:dark:decoration-neutral-500 hover:prose-a:dark:decoration-neutral-400 prose-a:underline-offset-2 hover:prose-a:underline-offset-[3px] prose-a:transition-all"
>
  <slot />
</div>
