---

---

<div
  class="prose prose-neutral max-w-full dark:prose-invert prose-a:decoration-neutral-400 prose-a:decoration-2 prose-a:underline-offset-2 prose-a:transition-all hover:prose-a:decoration-neutral-500 hover:prose-a:decoration-[3px] hover:prose-a:underline-offset-[3px] prose-a:dark:decoration-neutral-500 hover:prose-a:dark:decoration-neutral-400"
>
  <slot />
</div>
