---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <main>
    <h1>
      <span class="font-light text-neutral-700 dark:text-neutral-300"
        >read my</span
      > blog
    </h1>
  </main>
</Layout>
