---
import Layout from "~/layouts/Layout.astro";

export const prerender = false;

// TODO: Reimplement this page
---

<Layout title="Guestbook">
  <main>
    <h1>
      <span class="font-light text-neutral-700 dark:text-neutral-300"
        >sign my</span
      > guestbook
    </h1>

    Under reconstruction! Check back later.
  </main>
</Layout>
