---
import { db, desc, Guestbook as Entry, eq, User } from "astro:db";
import { generateId } from "lucia";

import Layout from "~/layouts/Layout.astro";

export const prerender = false;

const { session } = Astro.locals;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const message = formData.get("message");

  if (session && message) {
    await db.insert(Entry).values({
      id: generateId(15),
      authorId: session.userId,
      message: message.toString(),
      createdAt: new Date(),
    });
  }
}

const entries = await db
  .select({ name: User.name, message: Entry.message })
  .from(Entry)
  .innerJoin(User, eq(Entry.authorId, User.id))
  .orderBy(desc(Entry.createdAt))
  .limit(100);
---

<Layout title="Guestbook">
  <main>
    <h1>
      <span class="font-light text-neutral-700 dark:text-neutral-300"
        >sign my</span
      > guestbook
    </h1>

    {
      session ? (
        <div>
          <form
            action="/guestbook"
            method="post"
            data-astro-reload
            class="flex"
          >
            <input
              name="message"
              class="flex h-10 w-full rounded-l-md border border-r-0 border-neutral-200 bg-white px-3 py-2 text-sm text-black placeholder:text-neutral-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-900 focus-visible:ring-offset-2 dark:border-neutral-600 dark:bg-neutral-800/60 dark:text-white dark:ring-offset-neutral-900 placeholder:dark:text-neutral-400 dark:focus-visible:ring-neutral-200"
              placeholder="Leave a message..."
              autocomplete="off"
            />
            <button
              type="submit"
              class="flex h-10 items-center justify-center rounded-r-md border border-neutral-200 bg-neutral-50 px-3 py-2 text-sm transition-colors hover:bg-neutral-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-900 focus-visible:ring-offset-2 dark:border-neutral-600 dark:bg-neutral-700 dark:text-white hover:dark:bg-neutral-600 dark:focus-visible:ring-neutral-200"
            >
              Sign
            </button>
          </form>

          <form action="/api/logout" method="post" data-astro-reload>
            <button
              type="submit"
              class="text-xs text-neutral-900 underline decoration-neutral-400 decoration-2 underline-offset-2 transition-all hover:decoration-neutral-500 hover:decoration-[3px] hover:underline-offset-[3px] dark:text-neutral-50 dark:decoration-neutral-500 hover:dark:decoration-neutral-400"
            >
              Sign out
            </button>
          </form>
        </div>
      ) : (
        <a
          href="/login/github"
          class="not-prose flex w-fit items-center justify-center gap-2 rounded-lg border border-neutral-200 bg-neutral-50/50 px-3 py-2 font-medium transition-colors hover:bg-neutral-100 dark:border-neutral-600 dark:bg-neutral-800/60 hover:dark:bg-neutral-800"
          data-astro-prefetch="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-5 w-5"
          >
            <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4" />
            <path d="M9 18c-4.51 2-5-2-7-2" />
          </svg>
          Sign in with GitHub
        </a>
      )
    }

    <ol class="list-none p-0 text-sm">
      {
        entries.map(({ name, message }) => (
          <li class="my-4 p-0">
            <span class="text-neutral-500 dark:text-neutral-400">{name}: </span>
            <span class="text-black dark:text-white">{message}</span>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
