---
import { db, desc, Guestbook as Entry, eq, User } from "astro:db";

import GuestbookForm from "~/components/Guestbook.svelte";
import Layout from "~/layouts/Layout.astro";

export const prerender = false;

const { session } = Astro.locals;

const entries = await db
  .select({ name: User.name, message: Entry.message })
  .from(Entry)
  .innerJoin(User, eq(Entry.authorId, User.id))
  .orderBy(desc(Entry.createdAt))
  .limit(100);
---

<Layout title="Guestbook">
  <main>
    <h1>
      <span class="font-light text-neutral-700 dark:text-neutral-300"
        >sign my</span
      > guestbook
    </h1>

    <GuestbookForm client:load {entries} {session} />
  </main>
</Layout>
