---
import { Picture } from "astro:assets";

import Layout from "~/layouts/Layout.astro";
import { env } from "~/lib/env";
import declan from "./_declan-l-scott.png";

const { PUBLIC_NAME: name } = env;
---

<Layout>
  <div
    class="flex flex-col-reverse items-center justify-between gap-8 md:flex-row md:items-start"
  >
    <div class="flex flex-col">
      <h1 class="mb-0 md:text-5xl">{name}</h1>
      <h2
        class="not-prose mb-8 mt-0 w-fit bg-gradient bg-clip-text uppercase tracking-[.25em] text-transparent md:text-lg"
      >
        Software Engineer
      </h2>

      <p>
        I'm a <strong>software engineer</strong> in the The Corridor of eastern Iowa
        that specializes in <strong>full-stack web development</strong>. Feel
        free to explore my previous
        <a href="/projects">projects</a>
        or visit my
        <a href="https://github.com/declanlscott" target="_blank">GitHub</a>
        to see what I'm up to.
      </p>

      <p>
        I am constantly building things or learning new technologies to improve
        my skills. When I'm not programming, I am a frequent member of the
        <a href="https://www.artsiowa.com/orchestra-iowa/" target="_blank">
          Orchestra Iowa</a
        > Symphonic Chorus singing tenor. I am also an alumnus of the
        <a href="https://engineering.uiowa.edu/" target="_blank">
          College of Engineering</a
        >
        at the <strong>University of Iowa</strong>,
        <span class="font-semibold italic text-black dark:text-[#FFCD00]">
          go hawks!
        </span>
      </p>
    </div>

    <Picture
      src={declan}
      alt={name}
      formats={["avif", "webp"]}
      widths={[384, 320, 288]}
      pictureAttributes={{
        class: "not-prose shrink-0",
      }}
      class="not-prose h-72 w-72 rounded-full object-cover shadow-xl"
    />
  </div>
</Layout>
