---
type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div
  class:list={[
    "group relative gap-4 rounded-lg border border-neutral-200 bg-neutral-50/50 p-6 transition-colors hover:bg-neutral-100 dark:border-neutral-600 dark:bg-neutral-800/60 hover:dark:bg-neutral-800",
    className,
  ]}
>
  <slot />
</div>
