---
import BaseCard from "~/components/BaseCard.astro";

type Props = {
  href: string;
  title: string;
};

const { href, title } = Astro.props;
---

<BaseCard className="flex items-center justify-center">
  <slot name="icon" />

  <a {href} class="after:absolute after:inset-0" target="_blank">
    {title}
  </a>
</BaseCard>
