---
import type { CollectionEntry } from "astro:content";

type Props = {
  tags: CollectionEntry<"blog">["data"]["tags"];
  limit?: number;
  className?: string;
};

const { tags, limit = Infinity, className } = Astro.props;
---

<div class="flex flex-wrap items-center gap-1.5">
  {
    tags
      .slice(0, limit)
      .map((tag) => (
        <a href={`/blog/tags/${tag}`} class:list={[className]}>{`#${tag}`}</a>
      ))
  }

  {
    tags.length > limit && (
      <span class="text-sm">+{tags.length - limit} more</span>
    )
  }
</div>
