---
import { Picture } from "astro:assets";

import { env } from "~/env";
import declan from "~/images/declan-l-scott.png";
import Layout from "~/layouts/Layout.astro";

const { PUBLIC_NAME: name } = env();
---

<Layout>
  <div
    class="flex justify-between gap-8 md:gap-12 lg:gap-16 md:flex-row flex-col-reverse md:items-start items-center"
  >
    <div class="flex flex-col">
      <h1 class="mb-0 text-5xl md:text-6xl">{name}</h1>
      <h2
        class="not-prose uppercase md:text-lg mt-0 mb-8 tracking-[.25em] text-transparent bg-clip-text w-fit bg-gradient-to-r dark:from-indigo-400 dark:to-emerald-400 from-indigo-500 to-emerald-500"
      >
        Software Engineer
      </h2>

      <p>
        I'm a <strong>software engineer</strong> in the The Corridor of eastern Iowa
        who specializes in <strong>full-stack web development</strong>. Feel
        free to explore my previous
        <a href="/projects">projects</a>
        or visit my
        <a href="https://github.com/declanlscott" target="_blank">GitHub</a>
        to see what I'm up to.
      </p>

      <p>
        When I'm not building something, in my free time I like to sing and play
        the piano. I also enjoy reading, and am constantly trying to learn new
        things. As an alumnus of the
        <a href="https://engineering.uiowa.edu/" target="_blank"
          >College of Engineering</a
        >
        at the <strong>University of Iowa</strong>, I'm a big fan of the
        Hawkeyes.
      </p>
    </div>

    <Picture
      src={declan}
      alt={name}
      formats={["avif", "webp"]}
      widths={[384, 320, 288]}
      pictureAttributes={{
        class: "not-prose shrink-0",
      }}
      class="not-prose lg:h-96 lg:w-96 md:w-80 md:h-80 h-72 w-72 rounded-full shadow-xl dark:shadow-neutral-700 object-cover"
    />
  </div>
</Layout>
