---
import { Image } from "astro:assets";

import declan from "~/images/declan-l-scott.png";
import Layout from "~/layouts/Layout.astro";

const name = "Declan L. Scott";
---

<Layout>
  <main
    class="flex justify-between gap-8 md:gap-12 lg:gap-16 md:flex-row flex-col-reverse md:items-start items-center"
  >
    <div class="flex flex-col">
      <h1 class="mb-0 text-5xl md:text-6xl">{name}</h1>
      <h2
        class="not-prose uppercase md:text-lg mt-0 mb-8 tracking-[.25em] text-transparent bg-clip-text w-fit bg-gradient-to-r dark:from-indigo-400 dark:to-emerald-400 from-indigo-500 to-emerald-500"
      >
        Software Engineer
      </h2>

      <p>
        I'm a <strong>software engineer</strong> currently specializing in
        <strong>full-stack web development</strong>. Check out some of my
        previous
        <a href="/projects">projects</a> or visit my <a
          href="https://github.com/declanlscott"
          target="_blank">GitHub</a
        > to see what I'm up to.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>

    <Image
      src={declan}
      alt=`A photo of ${name}`
      class="not-prose lg:h-96 lg:w-96 md:w-80 md:h-80 h-72 w-72 rounded-full object-cover shadow-xl dark:shadow-neutral-700"
    />
  </main>
</Layout>
